@media (max-width: 768px) {
    header{
      height: 30%;
    }
    main{
      margin: 10%;
    }
    main content{
      display: flex;
      flex-direction: column;
    }
    .Formulario{
      margin-bottom: 30px;
    }
    iframe{
      width: 100%;
    }
  
    footer {
        background-color: $footerColor;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
     
  
    }
    footer div{
      background-color: $footerColor;
      width: 98%;
    }
   .RedesSociales{
      padding: 10%;
      display: flex;
      justify-content: center;
   }
   .RedesSociales div{
      display: flex;
      justify-content: center;
  
   }
  
   .iconos a img{
      width: 150%;
  
   }
   .legales {
      margin: 10px;
      padding:50px;
   }
  
  .legales a {
      display: flex;
      justify-content: center;
   }
  } 